
.w3-sh-color,.w3-hover-sh-color:hover{color:#000!important;background-color:#005b82!important}
.w3-text-sh-color,.w3-hover-text-sh-color:hover{color:#005b82!important}
.w3-border-sh-color,.w3-hover-border-sh-color:hover{border-color:#005b82!important}

.bgimg {
  background-image: url("/assets/laru.png");
  background-size: cover;
  height: 100;
  width: 100%;
}

