
.w3-sh-color,.w3-hover-sh-color:hover{color:#fff!important;background-color:#005b82!important}
.w3-text-sh-color,.w3-hover-text-sh-color:hover{color:#005b82!important}
.w3-border-sh-color,.w3-hover-border-sh-color:hover{border-color:#005b82!important}



.sh-image {
  background-image: url("/assets/paakuva_2025.png");
  background-color: #cccccc;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body, h1, h2, h3, h4, h5, h6  {
  font-family: "Courier New", monospace;
}

.flag {
  width: 20px;
  height: 15px;
  margin: 0 10px;
}
