
.bg {
  background-image: url("/assets/laru.png");
  background-size: contains;
  width: 300px;
  height: 300px;
}

/* For width 600px and larger: */
@media only screen and (min-device-width: 600px) {
    .bg {
      background-image: url("/assets/laru.png");
      background-size: contains;
      width: 300px;
      height: 300px;
    }
  }

